<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактировать населенный пункт</title>
</head>
<body>
    <h1>{% block title %} Редактировать населенный пункт {% endblock %}</h1>
    <form method="post">
        <label for="district">Район</label>
        <br>
        <input type="text" name="district"
               placeholder="Район"
               value="{{ request.form['district'] }}"></input>
        <br>

        <label for="town">Населенный пункт</label>
        <br>
        <input type="text" name="town"
                  placeholder="Населенный пункт"
                  value=" {{ request.form['town'] }}"></input>
        <br>
        <label for="town">Новое имя</label>
        <br>
        <input type="text" name="newtown"
                  placeholder="Новое имя"
                  value=" {{ request.form['newtown'] }}"></input>
        <br>
        <button type="submit">Редактировать</button>
    </form>
</body>
</html>